# -------------------------
# כלליים
# -------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------
# IDE
# -------------------------
*.iml
*.ipr
*.iws
.idea/
# .vscode/   # בטל הערה אם לא רוצים לעקוב אחרי תיקיית VS Code בפרויקט

# -------------------------
# Flutter / Dart / Pub
# -------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Flutter/.last_build_id
/build/

# -------------------------
# Android
# -------------------------
# ארטיפקטים
/android/app/debug
/android/app/profile
/android/app/release

# קבצים מקומיים/רגישים (לא להעלות ל־VCS)
**/local.properties
**/key.properties
**/*.keystore
**/*.jks
# אם הפרויקט ציבורי—רצוי לא להעלות. אם פרטי/CI צריך—השאר במעקב
# **/google-services.json

# -------------------------
# iOS / macOS
# -------------------------
**/DerivedData/
**/*.xcworkspace/xcuserdata/

# CocoaPods (אם משתמשים)
ios/Pods/

# קישורים/תוצרים זמניים של Flutter
**/.symlinks/

# אם הפרויקט ציבורי—רצוי לא להעלות. אם פרטי/CI צריך—השאר במעקב
# **/GoogleService-Info.plist

# -------------------------
# סימבוליקציה / אובסקורציה
# -------------------------
app.*.symbols
app.*.map.json
local.txt  
remote.txt 
